@tailwind base;
@tailwind components;
@tailwind utilities;

/*#map {
height: 50%;
}
html, body {
height: 100%;
margin: 10;
padding: 10;
}
.custom-map-control-button {
    color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}

.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}*/